body{
	background: linear-gradient(90deg,tomato,black);
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial,sans-serif;
}
header{
	background: #963F3F;
	color: white;
	padding: 15px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: column;
	gap: 10px;
}
.menu li a{
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.menu li a:hover{
	background-color: #7845;
}
article{
	padding: 20px;
	margin: 20px auto;
	background-color: #BA5447;
	border-radius: 8px;
	box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
}
.fila{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.columna{
	width: 24%;
	padding: 10px;
	text-align: center;
	background-color: #B35B4F;
}
.columna h2{
	color: #784;
	margin-bottom: 10px;
}
.columna img{
	width: 100%;
	height: 300px;
	max-width: 250px;
	margin: 10px 0;
}
footer{
	background-color: red;
	color: white;
	text-align: center;
	margin: 15px 0;
	margin-top: 20px;
}
.seccion-texto{
	padding: 20px;
	margin: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: white;
}
#formulariosec label{
	display: block;
	margin-top: 10px;
	font-weight: bold;
}
#formulariosec textarea{
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.Boton{
	display: flex;
	gap: 15px;
	margin-top: 20px;
}
h3{
	text-align: center;
	color: white;
}
#enviar, #borrar{
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	flex-grow: 1;
}
#enviar{
	background-color: green;
	color: white;
}
#borrar{
	background-color: orange;
	color: white;
}
.pagina{
	text-align: center;
	color: white;
}
.carousel-container {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 50px auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.carousel {
	display: flex;
	width: 300%;
	transition: transform 0.5s ease-in-out;
}
.carousel img {
	width: 100%;
	height: auto;
}
.carousel-wrapper {
	animation: autoSlide 12s infinite;
}
.carousel-container:hover .carousel-wrapper {
	animation-play-state: paused;
}
@keyframes autoSlide {
	0% { transform: translateX(0%); }
	33% { transform: translateX(-100%); }
	66% { transform: translateX(-200%); }
	100% { transform: translateX(0%); }
}
@media screen and (max-width: 780px){
	.columna{
		width: 45%;
	}
	.menu{
		flex-direction: column;
		align-items: center;
	}
	.menu li{
		margin: 5px 0;
	}
}
@media screen and (max-width: 480px){
	.columna{
		width: 100%;
	}
	article{
		display: none;
	}
}